<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Google font typography settings - defined in _config.yml -->
  {% if site.resume_theme == 'default' %}
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>
  {% endif %}

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/x-icon" href="favicon.png" />

  <!-- link previews (LinkedIn, Slack, etc.) -->
  {% capture page_url %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
  <meta property="og:type" content="profile">
  <meta property="og:title" content="{{ site.resume_name }} - CV">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="{{ page_url }}">
  <meta property="og:site_name" content="{{ site.resume_name }}">
  <meta property="og:image" content="{{ '/images/avatar.jpg' | prepend: site.baseurl | prepend: site.url }}">
  <meta name="twitter:card" content="summary">
</head>
